body a:hover {
    text-decoration: none;
}

.jumb {
    padding-top: 20px;
    height: 90px;
    background-color: black;
    color: white;
    background-size: cover;
}

p1 {
    margin-left: 30px;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

h {
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.page {
    width: 100%;
    height: 40px;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

.feature {
    height: 40px;
    background-color: darkgray;
    line-height: 50px;
}

.feature:hover {
    background-color: dimgray;
    text-decoration: none;
}

h1 {
    font-size: 32px;
    color: darkgray;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 10px;
    color: black;
}

h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

p {
    text-align: center;
}

.click {
    height: 100px;
    text-align: 80px;
    border: dashed 1.5px;
    color: white;
}

.click>p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: white;
}

.click:hover {
    background-color: lightslategrey;
    text-decoration: none;
}

h1 {
    font-size: 32px;
    color: darkgray;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    font-size: 22px;
}

p {
    text-align: center;
}

.section-title {
    text-align: center;
    font-weight: 200;
}

.short {
    border-bottom: 1px solid #aaa;
    font-size: 15px;
    text-align: center;
}


/* note header */

header.jumbotron {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0;
    background-image: url("../img/header-bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header.jumbotron:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: all .5s ease;
}

header.jumbotron.scroll:after {
    background-color: rgba(0, 0, 0, 0.1);
}

.jumbotron-content {
    position: relative;
    z-index: 3;
}

header.jumbotron h1 {
    font-size: 40px;
}

.jumbotron h1,
.jumbotron p,
.jumbotron a {
    color: white;
}

#portfolioSection {
    padding-top: 0;
    padding-bottom: 0;
}

#portfolioSection .row {
    margin-left: 0;
    margin-right: 0;
}

#slideshow .item {
    height: 270px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.photo {
    height: 300px;
    text-align: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0;
    padding-right: 0;
    filter: grayscale(100%);
    transition: all .5s ease;
}

.photo h3 {
    color: white;
    font-size: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
    line-height: 250px;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
    transition: all .5s ease;
}

.photo:hover {
    filter: grayscale(0%);
}

.photo:hover h3 {
    font-size: 24px;
    opacity: 1;
    line-height: 450px;
}

#photo-1 {
    background-image: url("../img/Landscape/L1.JPG");
}

#photo-2 {
    background-image: url("../img/Landscape/L2.JPG");
}

#photo-3 {
    background-image: url("../img/Landscape/L3.jpg");
}

#photo-4 {
    background-image: url("../img/Landscape/L4.jpg");
}

#photo-5 {
    background-image: url("../img/Architecture/AR1.jpg");
}

#photo-6 {
    background-image: url("../img/Architecture/AR2.JPG");
}

#photo-7 {
    background-image: url("../img/Architecture/AR3.jpg");
}

#photo-8 {
    background-image: url("../img/Architecture/AR4.jpg");
}

#photo-9 {
    background-image: url("../img/Architecture/AR5.jpg");
}

#photo-10 {
    background-image: url("../img/Travel/T1.jpg");
}

#photo-11 {
    background-image: url("../img/Travel/T2.jpg");
}

#photo-12 {
    background-image: url("../img/Travel/T3.jpg");
}

#photo-13 {
    background-image: url("../img/Travel/T4.jpg");
}

#photo-14 {
    background-image: url("../img/Travel/T5.jpg");
}

#photo-15 {
    background-image: url("../img/Travel/T6.jpg");
}

#photo-16 {
    background-image: url("../img/Travel/T7.jpg");
}

#photo-17 {
    background-image: url("../img/Travel/T8.jpg");
}

#photo-18 {
    background-image: url("../img/Travel/T9.jpg");
}

#photo-19 {
    background-image: url("../img/Travel/T12.jpg");
}

#photo-20 {
    background-image: url("../img/Travel/T11.jpg");
}

#photo-21 {
    background-image: url("../img/People/P1.JPG");
}

#photo-22 {
    background-image: url("../img/People/P2.jpg");
}

#photo-23 {
    background-image: url("../img/People/P3.JPG");
}

#photo-24 {
    background-image: url("../img/Plant/PL1.jpg");
}

#photo-25 {
    background-image: url("../img/Plant/PL2.jpg");
}

#photo-26 {
    background-image: url("../img/Plant/PL3.jpg");
}

#photo-27 {
    background-image: url("../img/Plant/PL4.JPG");
}

#photo-28 {
    background-image: url("../img/Plant/PL5.jpg");
}

#photo-29 {
    background-image: url("../img/Plant/PL6.jpg");
}

#photo-30 {
    background-image: url("../img/Plant/PL7.jpg");
}

#photo-31 {
    background-image: url("../img/Plant/PL8.jpg");
}

#photo-32 {
    background-image: url("../img/Animal/A1.jpg");
}

#photo-33 {
    background-image: url("../img/Animal/A2.jpg");
}

#photo-34 {
    background-image: url("../img/Animal/A3.jpg");
}

#scrollTopBtn,
.app .top .fa {
    color: #fff;
    border-radius: 50%
}

#scrollTopBtn {
    width: 60px;
    height: 60px;
    background-color: darkgray;
    text-align: center;
    line-height: 60px;
    position: fixed;
    bottom: 35px;
    right: 35px;
    display: none
}

.fa-arrow-circle-up {
    position: fixed;
    bottom: 37px;
    right: 41px;
}

#scrollTopBtn.scroll {
    display: block
}

#scrollTopBtn:focus,
#scrollTopBtn:hover {
    text-decoration: none;
    outline: 0
}

.copy-right {
    text-align: center;
}

@media screen and (max-width: 767px) {
    #slideshow .item {
        height: 500px;
    }
    #slideshow .item img {
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
    .photo {
        height: 500px;
    }
}
